.header {
  color: black;
  text-align: center;
  box-sizing: border-box;
  width: 500px;
  height: 100px;
  padding: 25px;
  border: 1px solid #e2d6a2;
  margin-left: 500px;
  background-color: #fef2cc;
}
span.sec1 {
  color: blue;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: #feda6a;
  display: inline-block;
  margin: 20px;
}
span.sec2 {
  color: black;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: #b6b6b6;
  display: inline-block;
  margin: 20px;
}

span.sec3 {
  color: black;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: #ffff87;
  display: inline-block;
  margin: 20px;
}
h1 {
  margin: 1px;
}

.button {
  background-color: green;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  
  cursor: pointer;
  border-radius: 15px;
}
.button4 {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin: 30px;
}
.button5 {
  color: black;
  background-color: red;
  border: 1px solid black;
  padding: 1px;
  margin: 1px;
  width: 100px;
}
.button6 {
  color: black;
  background-color: green;
  border: 1px solid black;
  padding: 1px;
  margin: 1px;
  width: 100px;
}
.button7 {
  color: black;
  background-color: blue;
  border: 1px solid black;
  padding: 1px;
  margin: 1px;
  width: 100px;
}

a {
  color: blue;
  font-size: 25px;
}
.container {
  margin-left: 300px;
}
label{
  width: 60px;
  display: inline-block;
  text-align: left
}
.radiobox{
  display: inline;
    border: 1px solid  #8c8c8c; 
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 6%; */
}
.addressclass{
  position: relative;
  margin-top: 10px;
  
}
.box{
  margin-top: 1px;
    margin-left: 20%;

}
.button2 {
  background-color: green;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}
.container {
  margin-left: 170px;
}
.forms{
  align-items: center;
  padding-left: 500px;
  margin-top: 50px;
}
.inputclass{
  margin-left: 100px;
}
.radiobox{
  margin-left: 100px;
}
.websiteclass{
  margin-left: 100px;
  font-size: 104%;
}
.select{
  margin-left: 100px;
}
.bottomportion{
  margin-left: 400px;
}