body {
    background: #eee;
  }
  .service h2,
  .service p {
    color: #999;
    margin: 10px;
    text-align: center;
  }
  .service {
    float: left;
    background: #eee;
    width: 29%;
    margin: 1%;
    padding: 1%;
    height: 140px;
  }
  .wrapper {
    background: white;
    height: 600px;
  }
  .content {
    padding: 10px;
    background: #ccc;
    clear: left;
    margin: 20px 1%;
  }
  .services:after {
    content: "";
    display: block;
    clear: both;
  }
  section,aside{
      float: left;
      width: 46%;
      padding: 1%;
      margin: 1%;
      background: #f2f2f2;
  }
  .columns:after{
      display: block;
      content: "";
      clear: both;
  }