.topbar {
  background-color: #cccccc;
  border: 1px solid black;
  text-align: center;
  margin: 50px;
  padding: 10px;
}
.main {
  background-color: #dbdde2;
}
.menu {
  margin: 20px;
  padding: 20px;
  display: inline;
}
.menu a{
  margin: 30px;
  padding: 20px;
  border: 1px solid red;
  text-decoration: none;
  background-color: #cccccc;
}
.document {
  background-color: #dae8fc;
  border: 1px solid steelblue;
  text-align: center;
  margin: 40px;
  padding: 10px;
}
.forms {
  margin-left: 400px;
  margin-top: 50px;
}

label {
  width: 240px;
  display: inline-block;

}
.controls{
  width: 240px;
  display: inline-block;
}
textarea {
  width: 240px;
  display: inline-block;
}
.button {
  background-color: #cccccc;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 24px ;
  cursor: pointer;
}
.remarks{
  position: relative;
  margin-top: 20px;
  
}
.box{
  margin-top: 1px;
    margin-left: 26%;

}
.bottom{
  background-color: #ffffff;
  border: 2px solid black;
  padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    padding-left: 20px;
    margin-top: 50px;
}
.link{
  margin-left: 33%;
}