body {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.banner {
  background-color: #2f2f2f;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  margin-left: 0;
  margin-right: 0;
  justify-items: flex-start;
  display: flex;
}
#container {
  /* padding-left: 20px; */
  padding-top: 30px;
  display: flex;
}
.logo img {
  height: auto;
  width: 60%;
  max-height: 100%;
  margin-left: 20px;
}
.button {
  border: 1px solid black;
  color: black;
  background-color: white;
  border-radius: 2px;
  border-width: 1px;
  cursor: pointer;
}
.button {
  height: 30px;
}

.microsoft {
  display: flex;
}
.microsoft span {
  margin-top: 5px;
}
.microsoft h1 {
  display: inline;
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 170%;
}
.navbar {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.navbar li {
  display: inline;
  padding: 10px;
}
.navbar li a {
  text-decoration: none;
  color: black;
  font-size: 80%;
}
.navbar li a:hover {
  text-decoration: underline;
  color: black;
}
.search-box {
  color: blue;
}
.search-box input[type="text"] {
  border: 1px solid gray;
  box-sizing: border-box;
  height: 40px;
  width: 210px;
  border-radius: 5px;
  padding-left: 40px;
  opacity: 0.8;
}
.search-box a:active {
  color: blue;
}
.search-box {
  position: relative;
}
.search-box i {
  position: absolute;
  left: 7px;
  top: 10px;
}
#sign {
  color: #005ba1;
  font-size: 80%;
  padding-left: 10px;
}
.navbar {
  border-bottom: 2px solid #f4f4f4;
}
.navbar2 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f4f4f4;
}
.navbar2 li {
  display: inline-flex;
  padding: 10px;
}
.navbar2 li a {
  text-decoration: none;
  color: black;
  font-size: 80%;
}
.navbar2 li a:hover {
  text-decoration: underline;
}
.navbar2 ul {
  padding-inline-start: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.navbar2 li b {
  font-size: 150%;
}
.portal a {
  border: 2px solid #005ba1;
  border-radius: 3px;
  width: auto;
  box-sizing: border-box;
  text-decoration: none;
}
.portal {
  padding: 10px;
}
.azure {
  background-color: #0065b3;
  color: white;
  height: 200px;
  align-content: center;
  display: block;
}
.azure h1 {
  padding-top: 30px;
  padding-left: 50px;
}
.azure p {
  padding-left: 50px;
}
#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
  margin: 40px;
}
.one {
  border: 1px solid #d3d3d3;
  color: gray;
  display: flex;
}
.one img {
  height: 40%;
}
.two {
  border: 1px solid #d3d3d3;
  color: gray;
  display: flex;
}
.two img {
  height: 40%;
}
.three {
  border: 1px solid #d3d3d3;
  color: gray;
  display: flex;
}
.three img {
  height: 40%;
}
.four {
  border: 1px solid #d3d3d3;
  color: gray;
  display: flex;
}
.four img {
  height: 40%;
}
#grid span {
  color: #0065b3;
  font-weight: bold;
  font-size: 120%;
}
#a {
  padding-left: 20px;
}
#b {
  padding-left: 20px;
}
#c {
  padding-left: 20px;
}
#d {
  padding-left: 20px;
}
#data {
  background-color: #f2f2f2;
}
#browse h2 {
  padding-left: 30px;
}
#browse {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(150px, auto);
  width: 100%;
}
.e {
  grid-column: 1/3;
  grid-row: 1/7;
  padding: 5px;
  margin-top: 5px;
}
.featured {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
.f {
  border: 1px solid white;
  width: 180px;
  height: 250px;
  background-color: white;
}
.g {
  border: 1px solid white;
  background-color: white;
  width: 180px;
  height: 250px;
}
.h {
  border: 1px solid white;
  background-color: white;
  width: 180px;
  height: 250px;
}
.i {
  border: 1px solid white;
  background-color: white;
  width: 180px;
  height: 250px;
}
.j {
  border: 1px solid white;
  background-color: white;
  width: 180px;
  height: 250px;
}
.k {
  border: 1px solid white;
  background-color: white;
  width: 180px;
  height: 250px;
}
.l {
  border: 1px solid white;
  background-color: white;
  width: 180px;
  height: 250px;
}
.m {
  border: 1px solid white;
  background-color: white;
  width: 180px;
  height: 250px;
}
.n {
  border: 1px solid white;
  background-color: white;
  width: 180px;
  height: 250px;
}
.featured {
  margin-left: 80px;
  margin-top: 100px;
}
.r {
  padding-left: 20px;
}
.s {
  padding-left: 20px;
}
.t {
  padding-left: 20px;
}
.u {
  padding-left: 20px;
}
.v {
  padding-left: 20px;
}
.w {
  padding-left: 20px;
}
.x {
  padding-left: 20px;
}
.y {
  padding-left: 20px;
}
.z {
  padding-left: 20px;
}
.featured img {
  padding-left: 20px;
  padding-top: 20px;
}
.featured span {
  color: #0065b3;
}
