body {
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    width: 100%;
    background-color: #2874f0;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

.topbar .a {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-top: 15px;
}

.search-box input[type="text"] {
    border: 1px solid #2874f0;
    height: 40px;
    width: 550px;
    padding-left: 40px;
}

.search-box {
    position: relative;
}

.search-box i {
    position: absolute;
    left: 550px;
    top: 10px;
    color: blue;
}

.login {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
}

.button {
    width: 120px;
    height: 35px;
    background-color: white;
    border: 2px solid white;
    color: #2874f0;
    font-weight: 600;
    font-size: 14px;
}

.d {
    padding-left: 30px;
    padding-top: 5px;
    color: white;
}

.e {
    padding-top: 5px;
    color: white;
}

.sub-nav {
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
    font-size: 14px;
    color: #212121;
}

.sub-nav a {
    text-decoration: none;
    color: #212121;
}


/* dropdown list*/

.dropdown {
    display: inline-block;
    position: relative;
    height: 100%;
}

.dropdown:hover .drop-list {
    display: flex;
    flex-direction: row;
}

.dropdown:hover .btn-drop {
    color: #2874f0;
}

.btn-drop {
    border: 2px solid white;
    background: white;
    position: relative;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #212121;
    font-weight: 600;
}

.drop-list {
    display: none;
    flex-direction: column;
    position: absolute;
    background: white;
    padding: 10px 20px 20px 20px;
    line-height: 1.2rem;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.drop-list>a {
    white-space: nowrap;
    padding: 0 20px;
    margin-top: 10px;
}

.inner-list {
    display: flex;
    flex-direction: column;
    color: #dbdbdb;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    padding: 0 20px;
    width: 200px;
}

.inner-list li {
    padding: 5px;
}

.inner-list a {
    white-space: nowrap;
}

.main {
    background-color: #f2f2f2;
}

.sidebar {
    background-color: white;
}

.z {
    font-weight: 700;
}

.y {
    font-size: 12px;
    font-weight: 600;
}

.x {
    color: #c6bdbe;
    font-size: 12px;
}

.w {
    color: #c6bdbe;
    font-size: 12px;
}

.sidebar i {
    color: #c6c2c3;
}

.v {
    font-weight: 500;
    font-size: 14px;
}

.sidebar {
    margin-left: 10px;
    height: 4200px;
}

.range select {
    border: 1px solid #dbdbdb;
    background: white;
    width: 40%;
    color: #000;
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 #000;
    border-radius: 1px;
    appearance: none;
    -moz-appearance: none;
    background: url("img/down-selecter.png");
    background-repeat: no-repeat;
    background-position: top 50% left 100%;
}

.sec2 img {
    width: 80px;
    position: absolute;
}

.question {
    position: absolute;
    left: 230px;
}

.sec3 i {
    color: gray;
    position: absolute;
    left: 230px;
}

.sec3 input[type="text"] {
    color: white;
    border: none;
    border-bottom: 2px solid gray;
    margin-left: 10px;
}

.u {
    font-size: 12px;
}

.t {
    color: #2874f0;
    font-size: 12px;
}

.s i {
    position: absolute;
    left: 25px;
}

::placeholder {
    padding-left: 20px;
}

.y i {
    color: gray;
    position: absolute;
    left: 230px;
}

.r i {
    color: gray;
}

.r input[type="text"] {
    color: white;
    border: none;
    border-bottom: 2px solid gray;
    margin-left: 10px;
}

.u i {
    color: black;
}

.dot1 {
    height: 15px;
    width: 15px;
    background-color: beige;
    border-radius: 50%;
    display: inline-block;
}

.dot2 {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.dot3 {
    height: 15px;
    width: 15px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}

.dot4 {
    height: 15px;
    width: 15px;
    background-color: brown;
    border-radius: 50%;
    display: inline-block;
}

.dot5 {
    height: 15px;
    width: 15px;
    background-color: darkblue;
    border-radius: 50%;
    display: inline-block;
}

.dot6 {
    height: 15px;
    width: 15px;
    background-color: darkgreen;
    border-radius: 50%;
    display: inline-block;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.mainsection {
    background-color: white;
    margin: 10px;
}

.home {
    margin: 20px;
}

.tshirt {
    margin: 20px;
}

.sort {
    margin: 20px;
}

.so {
    font-weight: 600;
    font-size: 14px;
}

.show {
    font-size: 10px;
    color: gray;
    padding-left: 10px;
}

.home a {
    text-decoration: none;
    color: gray;
    font-size: 10px;
    padding: 5px;
}

.home i {
    font-size: 10px;
}

.tshirt div {
    display: inline;
}

.sort div {
    display: inline;
}

.sort a {
    text-decoration: none;
    color: black;
    padding: 30px;
    font-size: 13px;
}

.imagecontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    border-bottom: 2px solid #f2f2f2;
}

.bb img {
    width: 80px;
    position: absolute;
}

.aa {
    color: gray;
    font-size: 14px;
    padding-left: 20px;
}

.one .aa {
    padding-left: 20px;
}

.one .bb {
    padding-left: 20px;
}

.bb {
    font-size: 14px;
    padding-left: 20px;
}

.cc {
    padding-left: 20px;
}

.one .cc {
    padding-left: 20px;
}

.dd {
    font-weight: bold;
    font-size: 16px;
}

.ee {
    color: gray;
    text-decoration: line-through;
    font-size: 15px;
}

.ff {
    color: #388e3c;
    font-size: 15px;
}

.one span {
    padding: 5px;
}

.l {
    margin-left: 300px;
}

.bottom span {
    padding: 10px;
}

.bottom {
    font-size: 13px;
    margin-top: 30px;
    border-bottom: 10px solid #f2f2f2;
    height: 70px;
}

.bottom .l .j {
    border: 1px solid #2874f0;
    background-color: #2874f0;
    border-radius: 50%;
    height: 10px;
    width: 45px;
}

.bottom .l .k {
    color: #2874f0;
}

.bottomsection {
    background-color: white;
    height: 40px;
    margin-top: 40px;
    margin-left: 10px;
    border-bottom: 15px solid #f2f2f2;
}

.n {
    padding: 8px 20px;
    border: 1px solid gray;
    margin: 20px;
}

.o {
    padding: 8px 20px;
    border: 1px solid gray;
}

.review {
    background-color: white;
    width: 100%;
    margin: 30px;
}

.popular {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-gap: 20px;
}

footer {
    width: 100%;
    background: #172337;
    color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    border: 1px solid #454d5a;
}

.footer {
    background-color: #172337;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 2fr;
    font-size: 12px;
}

.footer div {
    line-height: 2.5em;
}

.footer a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.footer a:hover {
    text-decoration: underline;
}

.footer div {
    margin: 40px;
}

.footer .f-one {
    color: gray;
}

.footer .f-two {
    color: white;
}

footer div {
    padding: 10px;
}

footer div img {
    width: 15px;
    height: 15px;
}

footer div a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

footer img {
    height: 40px;
    width: 350px;
}

.popular .q {
    font-size: 18px;
    font-weight: 600;
    color: #161617;
}

.popular .star {
    color: white;
    background-color: #388e3c;
    border-radius: 3px;
    padding: 2px 4px 2px 6px;
    height: 17px;
    width: 38px;
    font-size: 12px;
    font-weight: 500;
}

.popular .zz {
    color: gray;
    font-size: 13px;
    margin-left: 10px;
}

.popular .xx {
    color: gray;
    font-size: 13px;
}

.popular .xx {
    font-size: 13px;
}

.popular .ww {
    font-size: 12px;
}

.popular .s-one {
    line-height: 1.5em;
}

.popular .vv {
    color: gray;
    font-size: 13px;
}

.popular .uu {
    font-size: 13px;
    margin-left: 10px;
}

.popular .tt {
    color: gray;
    font-size: 12px;
}

h2 {
    border-bottom: 1px solid #f2f2f2;
}

.num {
    color: #2874f0;
}

.animate {
    transition-property: height;
    transition-duration: 0.9s;
}

.animate:hover {
    height: 200px;
}