div {
  font-size: large;
  font-weight: 900;
  color: red;
  border: 1px solid gray;
  margin: 40px;
}
div p {
  border: inherit;
  margin: inherit;
  color: green;
}
p {
  color: peru;
}
