body{
    background: #eee;
}
.service h2,.service p{
    color: #999;
    margin: 10px;
    text-align: center;
}
.service{
    float: left;
    background: #eee;
    width: 29%;
    margin: 1%;
    padding: 1%;
    height: 140px;
}
.wrapper{
    background: white;
    height:600px;
}